header {
  min-height: 60px;
  overflow: hidden;
  color: #42b983;

  .nav-head {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 15px;
    overflow: hidden;
  }
  
  .menu {
    float: right;
    left: 80px;
  }

  .logo-link img {
      float: left;
      height: 60px;
      border-radius: 24px;
  }

  .logo-link span {
      float: left;
      font-size: 18px;
      // line-height: 48px;
      margin-top: 35px;
      // margin-left: 10px;
      vertical-align: bottom;
      color: #2c3e50;
  }

  .nav-list {
    float: right;
  }

  .nav-list-item {
      display: inline-block;
      padding: 32px  10px  10px 10px;
      > a {
          font-size: 18px;
          // line-height: 1.4;
          color: #2c3e50;
      }
  }
}
