<header>
  <div class="nav-head">
    <a class="logo-link" href="/">
      <img src="https://candy-s.futurity.cn/ui/images/logo.png" alt="">
      <span>小样</span>
    </a>
    <ul class="nav-list">
      <li class="nav-list-item"><a href="/">首页</a></li>
      <li class="nav-list-item"><a>关于</a></li>
    </ul>
  </div>
</header>