
body {
  /* background-color: #ececec; */
  /* font-family:  */
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color:#fff;
  padding: 10px 30px;
  border-bottom: 1px solid #ececec;
}

.avatar {
  width: 48px;
  height: 48px;
  float: left;
  border-radius: 50%;
  border: 1px solid gold;
}

.nav ul li {
  font-size: 20px;
  font-weight: bold;
  list-style-type: none;  
  float: right;
  line-height: 48px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav p {
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 48px;
  margin-left: 10px;
}

.main-container {
  margin-top: 68px;
  background-color: #fff;
  padding: 20px 30px;
}

/* 首页列表样式 */
.article-item {
  padding: 15px;
  border-bottom: 1px solid #ececec;
}

.home-inner a {
  display: block;
  text-decoration: none;
}

a {
  color: #333;
}

a:hover {
  color: #333;
}

.article-item .item-title {
  font-size: 18px;
  color: #333;
}

.article-item .item-des {
  font-size: 14px;
  color: #999;
  margin-top: 8px;
}
/* 
@media screen and (min-width: 960px) {
} */

.admin-drop {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
}